/* overall colors */
:root {
    --primary-color: #F9032F;
    --secondary-color: #000000;
    --third-color: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Hero Section for Home Page */
.hero {
    background: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0.1)),
    url('/images/scenic-waterfall.jpg'); /* smaller image size, quicker load time */
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding: 8px calc((100vw - 1200px) / 2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hero__content {
    color: var(--third-color);
    padding: 48px 16px;
    line-height: 1;
}

.hero__content h1 {
    font-size: clamp(48px, 8vw, 112px); /* make font size resize depending on viewports/screenscreen (lowest,viewport width,highest) */
    text-transform: uppercase;
    margin-bottom: 8px;
}

.hero__content p {
    font-size: clamp(8px, 8vw, 40px); /* make font size resize depending on viewports/screenscreen (lowest,viewport width,highest) */
    margin-bottom: 48px;
}

.button {
    padding: 16px 48px;
    border: none;
    background-color: var(--primary-color);
    color: var(--third-color);
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease;
    text-decoration: none;
    border-radius: 4px;
}

.button:hover {
    background-color: var(--secondary-color);
}

/* Summary Section */
.summary {
    padding: 8px calc((100vw - 1200px) / 2);
}

.summary__container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* create two equal grid sections */
    padding: 16px;
}

.summary__img {
    width: 100%;
    height: 100%;
}

.topline {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
}

.summary__headline {
    margin-bottom: 16px;
    font-size: clamp(32px, 6vw, 48px);
}

.summary__features {
    list-style: none;
}

.summary__feature {
    margin-bottom: 24px;
    font-size: clamp(16px, 5vw, 24px);
}

/* font awesome icon changes */
.fa-hiking {
    margin-right: 22px;
    color: var(--primary-color);
}

.fa-mountain {
    margin-right: 10px;
    color: var(--primary-color);
}

.fa-water {
    margin-right: 13px;
    color: var(--primary-color); 
}

/* Responsive Mobile Styles */
@media screen and (max-width: 768px) {
    .summary__container {
        grid-template-columns: 1fr;
    }
}

/* Hiking Section */
.hiking {
    background: var(--secondary-color);
    color: var(--third-color);
    padding: 6rem calc((100vw - 1100px) / 2 );
    text-align: center;
}

.hiking h1 {
    margin-bottom: 16px;
    font-size: clamp(32px, 5vw, 48px);
    padding: 0 16px;
}

.hiking__desc {
    margin-bottom: 48px;
    font-size: clamp(24px, 3vw, 32px);
    padding: 16px;
}

.hiking__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
}

.hiking__card {
    padding: 32px;
    min-height: 450px;
    width: 325px;
    background: var(--third-color);
    color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hiking__summary {
    min-height: 150px; /* keeping content on the same height */
}

.hiking__card p {
    margin-bottom: 16px;
}

.card-icon {
    font-size: 48px;
    margin-bottom: 32px;
    color: var(--primary-color);
}

.hiking__card h3 {
    font-size: clamp(16px, 5vw, 32px);
    margin-bottom: 32px;
}

/* Mobile View Responsive */
@media screen and (max-width: 1100px) {
    .hiking__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .hiking__card {
        width: 90%;
        margin-bottom: 32px;
    }
}

/* Photo Gallery Section */
.gallery {
    padding: 8rem calc((100vw - 1100px) / 2);
}

.gallery__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, 350px);
}

.gallery__card {
    margin: 16px;
    border-radius: 10px;
    position: relative;
}

.gallery__text {
    padding: 16px;
}

.gallery__text h1 {
    margin-bottom: 16px;
    font-size: 48px;
}

.gallery__desc {
    font-size: clamp(16px, 3vw, 1.3rem);
    line-height: 1.4;
}

.gallery__card p {
    position: absolute;
    bottom: 30px;
    color: var(--third-color);
    left: 25px;
    font-size: 48px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.gallery__text:nth-child(1) { /* moving of the first text box to the top of the right column */
    grid-row: 1/3; 
    grid-column: 2/3;
}

.gallery__text:nth-child(2) { /* moving of the second text box to the bottom of the left column */
    grid-row: 5/6;
    grid-column: 1/2;
}

.gallery__card:nth-child(3) { /* moving to the top left column */
    grid-row: 1/3;
    grid-column: 1/2;
}

.gallery__card:nth-child(4) {
    grid-row: 2/4;
    grid-column: 2/3;
}

.gallery__card:nth-child(5) {
    grid-row: 3/5;
    grid-column: 1/2;
}

.gallery__card:nth-child(6) {
    grid-row: 4/6;
    grid-column: 2/3;
}

/* Mobile View Responsive */
@media screen and (max-width: 768px) {
    .gallery__wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .gallery__text:nth-child(1) {
        grid-row: 1/2; 
        grid-column: 1/2;
    }
    
    .gallery__text:nth-child(2) {
        grid-row: 6/7;
        grid-column: 1/2;
    }
    
    .gallery__card:nth-child(3) {
        grid-row: 3/4;
        grid-column: 1/2;
    }
    
    .gallery__card:nth-child(4) {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    
    .gallery__card:nth-child(5) {
        grid-row: 5/6;
        grid-column: 1/2;
    }
    
    .gallery__card:nth-child(6) {
        grid-row: 2/3;
        grid-column: 1/2;
    }
}

/* Form Section */
.email {
    background: linear-gradient(
        180deg, 
        rgba(0,0,0,0.6) 0%, 
        rgba(0,0,0,0.6) 35%,
        rgba(0,0,0,0.1) 100%
        ),
    url('/images/oregon-coast-overview.jpg') no-repeat center;
    background-size: cover;
    height: 450px;
    width: 100%;
    padding: 5rem calc((100vw - 1300px) /2);
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.email__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email__content h1 {
    text-align: center;
    margin-bottom: 16px;
    font-size: clamp(16px, 5vw, 48px);
    padding: 0 16px;
}

.email__content p {
    text-align: center;
    font-size: clamp(16px, 2.5vw, 24px);
    padding: 0 16px;
    margin-bottom: 32px;
}

form {
    z-index: 10;
}

.form__wrap input {
    padding: 16px 24px;
    outline: none;
    width: 350px;
    height: 50px;
    border: none;
    margin-right: 16px;
    border-radius: 4px;
}

@media screen and (max-width: 768px) {
    .form__wrap {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
    }

    .form__wrap input {
        margin-bottom: 16px;
        width: 100%;
        margin-right: 0;
    }

    button {
        width: 100%;
        min-width: 350px;
    }
}

@media screen and (max-width: 400px) {
    button {
        width: 100%;
        min-width: 250px;
    }
}